.stats-card {
   flex: 1;
   cursor: pointer;
}

.stats-card--selected {
   border-top: 10px solid yellowgreen;
}

.stats-card--red {
   border-color: red;
}

.stats-card:not(:last-child) {
   margin-right: 15px;
}

.stats-card-cases {
   color: red;
   font-weight: 600;
   font-size: 1.75rem;
   margin-bottom: 0.5rem;
}

.stats-card-cases--green {
   color: yellowgreen;
}

.stats-card-total {
   color: grey;
   font-weight: 700 !important;
   font-size: 0.8rem !important;
   margin-top: 15px !important;
}